@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>Welcome to the Presentations Scheduler for the WEB technologies course at FMI!</h3>
        <h4>Please follow the link and add your presentation! </h4>
        <a class="btn btn-primary" asp-action="PresentationForm">Add presentation</a>
    </div>
</body>
</html>
